
.main-container-analytics {
    position: relative;
    top: 65px;
    padding-bottom: 2px;
}
.main-container-analytics-msc {
    position: relative;
    /* top: 65px; */
    padding-bottom: 2px;
}

.container-options,
.container-second-analytics,
.container-third-analytics {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    /* Set the background color for the main square */
    padding: 10px;
    flex-wrap: wrap;
    /* Allow flex items to wrap */
    /* border-radius: 20px; */
    margin-bottom: 20px;

}

.sec {
    /* background-color: var(--secondary); */
    /* display: inline-block; */
    padding: 15px;
    margin: 10px;
    /* box-sizing: border-box; */
    /* Include padding and border in the element's total width */
    /* flex: 1; */
    /* position: relative; */
    /* Add this line to make the parent position relative */

    /* border-radius: 100px; */
}

.option-button {
    background: none;
    border: none;
    /* display: inline-block; */
    /* box-sizing: border-box; */
    flex: 1;
    position: relative;
    color: var(--text);
}

.options {
    /* flex-basis: calc(50% - 30px); */
    /* Divide the container width in half and subtract margins */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* width: 80vh; */
    cursor: pointer;
}

.checked {
    background-color: var(--selected);
    border: 2px solid transparent;
    animation: colorChange 1s alternate infinite;
}

@keyframes colorChange {
    0% {
        border: 2px solid var(--teritiary);
    }

    100% {
        border: 2px solid var(--secondary);
    }
}

.unchecked {
    background-color: var(--secondary);
    border: 2px solid transparent;
}

.section-header-analytics {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    position: relative;
}
.day-today{
    margin-top: 15px;
}
.day-today h2{
    display: block;
    left: 20px;
    color:var(--text);

}
.graph-class {
    /* Divide the container width in half and subtract margins */


    display: inline-flex;
    flex-direction: column;
    border-radius: 10px;
    width: 590px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: var(--secondary);
    max-height: 227px;
}
.section-header-charts {
    margin-top: 10px;
    color:var(--text);
    font-size: 20px;
    margin-left: 20px;
}
canvas {
    margin: 20px;
}
.option-button-msc {
    background: none;
    border: none;
    /* display: inline-block; */
    /* box-sizing: border-box; */
    min-width: 200px;
    flex: 1;
    position: relative;
    color: var(--text);
}
.tooltiptext {
    /* background-color: red; */
    font-size:20px;
    width: 180;
    color: var(--accent);
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    left: 46vh;
    z-index: 1;
    text-align: center;
}
